.tab {
  list-style: none;
  display: inline-flex;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  border: 1px solid transparent;
  border-bottom: 0;
  position: relative;
  bottom: -1px;
}

.tab button {
  padding: 0.5rem;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.tabActive {
  border: 1px solid #ccc;
  border-bottom-color: #fff;
}
