.counterBlock {
  color: #ccc;
  font-size: 0.9rem;
  padding: 1rem;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: inline-flex;
  background: #2b2a2a;
  gap: 0.4rem;
  align-items: center;
}

.counterBlockActive {
  background: #000;
}

.counterLabel {
  color: #ccc;
}

.counterLabelActive {
  color: #fff;
}

.counterCount {
  display: inline-flex;
  box-sizing: border-box;
  color: #fff;
  background-color: #21c230;
  border-radius: 0.7rem;
  height: 1.3rem;
  line-height: 1.3rem;
  padding: 0 0.5rem;
  min-width: 1.3rem;
}

.counterCountTotal {
  background-color: #e80726;
}
