name: Build React application CI

on: [push]

jobs:
  dependencies:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
      - uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-build-dependencies-${{ hashFiles('**/package-lock.json') }}
          path: |
            ./node_modules
      - run: npm install

  lint:
    runs-on: ubuntu-latest
    needs: dependencies

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
      - uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-build-dependencies-${{ hashFiles('**/package-lock.json') }}
          path: |
            ./node_modules
      - run: BASE_URL=/${{ github.event.repository.name }} npm run lint

  build:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
      - uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-build-dependencies-${{ hashFiles('**/package-lock.json') }}
          path: |
            ./node_modules
      - run: npm run build
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  publish:
    needs: build
    if: github.ref == 'refs/heads/main'
    uses: kse-web-development-practice/example/.github/workflows/github-pages.yml@main


